<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841553717417-nr4cavnp5mteemtj22l2mumsipahshiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841553717417-nr4cavnp5mteemtj22l2mumsipahshiv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNI36_in21iHsQj9PB77d79t6_50SglYI</string>
	<key>GCM_SENDER_ID</key>
	<string>841553717417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oonishireon.Firebase-ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>fir-todoapp-36846</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todoapp-36846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841553717417:ios:4aff8e7d8e5bb7c0ad61b8</string>
</dict>
</plist>